beautifulsoup4==4.12.2
run-subprocess==0.9.1
subprocess-shell==0.0.6
pandas==1.5.3
numpy==1.24.2
tabulate==0.8.9
requests==2.31.0
requests-file==1.5.1
requests-ntlm==1.1.0
requests-toolbelt==1.0.0
async-timeout==4.0.3
python-dateutil==2.8.2
jsonpointer==2.3
jsonschema==4.10.3
py-ubjson==0.16.1
simplejson==3.19.2
ujson==5.8.0
asttokens==2.2.1
google==3.0.0
google-search==1.1.1
googlesearch-python==1.2.3
